.hover-outline {
	outline: 2px solid transparent;
	transition-property: outline-color;
	transition-duration: 0.25s;
}

.hover-outline:hover {
	outline: 2px solid rgb(250, 77, 96);
	transition-property: outline-color;
	transition-duration: 0.25s;
}

hr {
	background-color: rgba(127, 127, 127, 0.2);
}

.blurry-main-background {
	box-shadow: 0px 0px 10px 10px rgba(var(--main-bg), 1);
}