<div
	class="goal-post-outer"
	style="
		flex-grow: 1;
		justify-content: center;
		display: flex;
		min-height: 0px;
		max-height: 100%;
		background: repeating-linear-gradient(
			45deg,
			rgba(var(--main-bg), 1),
			rgba(var(--main-bg), 1) 10px,
			rgba(var(--light-bg-color), 1) 10px,
			rgba(var(--light-bg-color), 1) 20px
		);
	"
>
	<div
		class="goal-post-inner ms-bg-main"
		style="
			padding-left: 10px;
			padding-right: 10px;
			max-width: 1000px;
			background-attachment: fixed;
			overflow-y: auto;
		"
	>
		{{.Text}}
	</div>
</div>