<div style="display: flex; flex-wrap: wrap; gap: 10px; flex-direction: row">
	{{range .Goals}}
		<div
			style="
				width: fit-content;
				padding: 0;
				margin: 0;
				overflow: hidden
			"
			class="ms-card ms-border grayscale"
		>
			<a
				href="{{$.WebPath}}/pages/personal-goals/{{.Id}}"
				class="ms-text-main"
			>
				<div
					style="display: flex; flex-direction: column;"
					class="ms-bg-light"
				>
					<img
						width="200"
						height="100"
						src="{{$.WebPath}}{{.Image}}"
						alt="{{.Title}}"
					/>
					<div style="padding: 8px; max-width: 200px">
						{{.Title}}
					</div>
				</div>
			</a>
		</div>
	{{end}}
</div>