<div style="display: flex; align-items: center; gap: 10px; max-width: 100%;">
	<div>
		<button id="header-language-button" type="button" class="ms-btn ms-rounded" style="width: 40px; height: 40px">
			<div
				style="
					width: 24px; height: 24px;
					border-radius: 50%;
					transform: translate(-8px, -0px);
				"
				alt="settings"
			>
				{{.GlobeSvg}}
			</div>
		</button>
		<div
			id="header-language-popup"
			class="ms-bg-light"
			style="
				left: auto;
				position: absolute;
				padding: 10px;
				display: none;
				flex-direction: column;
				gap: 4px;
				border-radius: 15px;
				margin-top: 5px;
				margin-right: 10px;
				z-index: 1;
			"
		>
			<a
				class="ms-btn ms-outline ms-rounded ms-primary"
				href="{{if .StaticPath}}{{.StaticPath}}{{else}}/{{end}}"
			>
				English
			</a>
			<a
				class="ms-btn ms-outline ms-rounded ms-primary"
				href="{{.StaticPath}}/de"
			>
				German
			</a>
			<a
				class="ms-btn ms-outline ms-rounded ms-primary"
				href="{{.StaticPath}}/ru"
			>
				Russian
			</a>
		</div>
  	</div>

	<a href="{{if .WebPath}}{{.WebPath}}{{else}}/{{end}}">
		<img
			src="{{.StaticPath}}/static/images/favicon.png"
			width="42" height="42"
			style="
				width: 42px; height: 42px;
				border-radius: 50%;
			"
			alt="icon"
			class="hover-outline"
		/>
	</a>
	<div
		style="display: flex; flex-direction: column; overflow-y: clip; gap: 4px; flex-shrink: 0; flex-basis: 0; min-width: 0;">
		<b style="text-wrap: nowrap; text-overflow: ellipsis; overflow-y: clip;">
			Personal Website
		</b>
		<h1 style="text-wrap: nowrap; text-overflow: ellipsis; overflow-y: clip; font-size: 1rem; margin: 0; font-weight: normal">
			{{.Title}}
		</h1>
	</div>
</div>