<div style="display: flex; align-items: center; max-width: 100%">
	<div
		id="hamburger-menu-popup"
		class="ms-bg-light ms-border-main"
		style="
			opacity: 0;
			position: absolute;
			z-index: 1;
			top: 10px;
			left: 10px;
			overflow-y: auto;
			max-height: 100%;
			height: 100%;
			margin: -10px;
			padding-left: 9px;
			padding-top: 12px;
			padding-right: 9px;
			padding-bottom: 12px;
			border-width: 1px;
			border-style: solid;
			transform: translate(-100%, 0);
			transition:
				transform 0.3s,
				opacity 0.3s;
		"
	>
		<div>
			<div style="display: flex; align-items: center">
				<button
					id="hamburger-menu-button-inner"
					type="button"
					class="ms-btn ms-rounded ms-primary ms-outline hover-outline"
					style="width: 40px; height: 40px"
				>
					<div
						style="
							width: 24px;
							height: 24px;
							border-radius: 50%;
							transform: translate(-10px, 0px);
						"
						alt="settings"
					>
						{{.MenuSvg}}
					</div>
				</button>
				<a href="{{if .WebPath}}{{.WebPath}}{{else}}/{{end}}">
					<img
						src="{{.StaticPath}}/static/images/favicon.png"
						width="42"
						height="42"
						style="width: 42px; height: 42px; border-radius: 50%; margin-left: 5px"
						alt="icon"
						class="hover-outline"
					/>
				</a>
			</div>
			<div
				style="
					margin-top: 10px;
					display: flex;
					flex-direction: column;
					gap: 5px;
					width: 160px;
				"
			>
				<a
					class="ms-btn ms-outline"
					href="{{if .StaticPath}}{{.StaticPath}}{{else}}/{{end}}"
				>
					English
				</a>
				<a class="ms-btn ms-outline" href="{{.StaticPath}}/de"> German </a>
				<a class="ms-btn ms-outline" href="{{.StaticPath}}/ru"> Russian </a>
			</div>
		</div>
	</div>
	<div>
		<button
			id="hamburger-menu-button"
			type="button"
			class="ms-btn ms-rounded ms-primary ms-outline hover-outline"
			style="width: 40px; height: 40px"
		>
			<div
				style="
					width: 24px;
					height: 24px;
					border-radius: 50%;
					transform: translate(-10px, 0px);
				"
				alt="settings"
			>
				{{.MenuSvg}}
			</div>
		</button>
	</div>

	<a href="{{if .WebPath}}{{.WebPath}}{{else}}/{{end}}">
		<img
			src="{{.StaticPath}}/static/images/favicon.png"
			width="42"
			height="42"
			style="width: 42px; height: 42px; border-radius: 50%; margin-left: 5px"
			alt="icon"
			class="hover-outline"
		/>
	</a>
	<div
		style="
			margin-left: 10px;
			display: flex;
			flex-direction: column;
			overflow-y: clip;
			gap: 4px;
			flex-shrink: 0;
			flex-basis: 0;
			min-width: 0;
		"
	>
		<b style="text-wrap: nowrap; text-overflow: ellipsis; overflow-y: clip">
			Personal Website
		</b>
		<h1
			style="
				text-wrap: nowrap;
				text-overflow: ellipsis;
				overflow-y: clip;
				font-size: 1rem;
				margin: 0;
				font-weight: normal;
			"
		>
			{{.Title}}
		</h1>
	</div>
</div>
